<aside class="social-side-links">
  <ul id="social-side-links">
    <li>
      <a target="_blank" href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" title="Follow me on GitHub">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background"></i>
          <i class="fa fa-github fa-stack-1x icon-foreground"></i>
        </span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Connect with me on LinkedIn">
         <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background"></i>
          <i class="fa fa-linkedin fa-stack-1x icon-foreground"></i>
        </span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://youtube.com/user/{{ site.youtube_username }}" title="Check out my YouTube">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background"></i>
          <i class="fa fa-youtube fa-stack-1x icon-foreground"></i>
        </span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}" title="Follow me on Instagram">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background"></i>
          <i class="fa fa-instagram fa-stack-1x icon-foreground"></i>
        </span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://goodreads.com/{{ site.goodreads_username }}" title="Add me on goodreads">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background"></i>
          <i class="fa fa-book fa-stack-1x icon-foreground"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="mailto:{{ site.email_address }}" title="Email me at {{site.email_address}}">
        <span class="fa-stack fa-2x">
          <i class="fa fa-square fa-stack-2x icon-background"></i>
          <i class="fa fa-envelope fa-stack-1x icon-foreground"></i>
        </span>
      </a>
    </li>
  </ul>
</aside>

